PUSHI 0
PUSHN 20
PUSHI 0
START
PUSHA main
CALL
f_sum_b: 
PUSHI 0
PUSHI 0
PUSHFP
PUSHI 0
ADD
PUSHI 0
PUSHI 0
STOREN
PUSHFP
PUSHI 1
ADD
PUSHI 0
PUSHI 0
STOREN
returnl1: 
PUSHFP
PUSHI 0
ADD
PUSHI 0
LOADN
PUSHI 20
INF
jz continuel1
PUSHFP
PUSHI 1
ADD
PUSHI 0
PUSHFP
PUSHI 1
ADD
PUSHI 0
LOADN
PUSHGP
PUSHI 1
ADD
PUSHFP
PUSHI 0
ADD
PUSHI 0
LOADN
LOADN
ADD
STOREN
jump returnl1
continuel1: 
PUSHFP
PUSHI 1
ADD
PUSHI 0
LOADN
RETURN
main: 
PUSHI 0
PUSHI 0
PUSHFP
PUSHI 0
ADD
PUSHI 0
PUSHI 0
STOREN
returnl2: 
PUSHFP
PUSHI 0
ADD
PUSHI 0
LOADN
PUSHI 20
INF
jz continuel2
PUSHGP
PUSHI 1
ADD
PUSHFP
PUSHI 0
ADD
PUSHI 0
LOADN
PUSHFP
PUSHI 0
ADD
PUSHI 0
LOADN
STOREN
jump returnl2
continuel2: 
PUSHFP
PUSHI 1
ADD
PUSHI 0
PUSHA f_sum_b
CALL
STOREN
PUSHFP
PUSHI 1
ADD
PUSHI 0
LOADN
PUSHI 0
EQUAL
jz continuel3
PUSHS "wrong"
WRITES
jump ifEndl1
continuel3: 
PUSHS "correct"
WRITES
ifEndl1: 
PUSHI 1
RETURN
STOP
