START
PUSHA main
CALL
main: 
PUSHI 0
PUSHI 0
PUSHI 0
PUSHFP
PUSHI 1
ADD
PUSHI 0
READ
ATOI
STOREN
PUSHFP
PUSHI 0
ADD
PUSHI 0
READ
ATOI
STOREN
PUSHFP
PUSHI 0
ADD
PUSHI 0
LOADN
PUSHFP
PUSHI 1
ADD
PUSHI 0
LOADN
EQUAL
jz continuel1
PUSHFP
PUSHI 2
ADD
PUSHI 0
READ
ATOI
STOREN
PUSHFP
PUSHI 0
ADD
PUSHI 0
LOADN
PUSHFP
PUSHI 2
ADD
PUSHI 0
LOADN
EQUAL
jz continuel2
PUSHS "Same input 3 times"
WRITES
jump ifEndl2
continuel2: 
PUSHS "Same input 2 times"
WRITES
ifEndl2: 
jump ifEndl1
continuel1: 
PUSHS "No repeated input"
WRITES
ifEndl1: 
PUSHI 1
RETURN
STOP
